* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/1254140/pexels-photo-1254140.jpeg");
    background-size: cover;
    background-attachment: fixed;   
}
.container {
	width: 550px;
	height: 450px;
}
.header {
	text-align: center;
	margin-bottom: 50px;
    margin-top: 50px;
}
.header h2 {
    font-weight: 700;
    color: white;
}
.main-content {
	
	padding: 50px 40px;
	background-color: hsla(0, 0%, 100%,0.1);
	border-radius: 15px;
	box-shadow: 0 25px 31px 0 rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    backdrop-filter:  blur(2px);

}

.text-area {
	text-align: center;
	font-size: 25px;
	color: white;
	line-height: 1.5;
    
}
.text-area .icon {
    margin-right: 5px;
}
.main-content .button-area {
	display: grid;
	place-items: center;
	margin-top: 20px;
	padding: 10px 0;
}
.button-area .btn button {
    background-color: #262626;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    
}
.button-area button:active {
    background-color: deepskyblue;
}
